.container-catalog-product
  @extend .flex-center

.block_product
  width: 1140px

.catalog-land-block
  width: 100%
  height: 148px
  background-color: #f8f3f4
  margin-top: 51px
  @extend .flex-center

.container-land-block
  width: 1140px
  @extend .flex-sp-between
  align-items: center

.catalog_land_title
  color: #f16d7f
  font-family: Lato
  font-size: 24px
  font-weight: 900
  line-height: 20px
  text-transform: uppercase

.catalog-section
  display: flex
  justify-content: center

.catalog-container
  margin-top: 71px
  width: 1140px
  @extend .flex-sp-between

.catalog-right
  width: 849px

.category_list_item
  color: #6f6e6e
  font-family: Lato
  font-size: 14px
  font-weight: 400
  line-height: 33px

details
  width: 243px
  margin-bottom: 15px

summary
  height: 37px
  border-left: 6px solid #ef5b70
  padding-left: 30px
  line-height: 37px
  color: #ef5b70
  font-family: Lato
  font-size: 14px
  font-weight: 900
  text-transform: uppercase
  display: block

.catalog-section-product
  width: 849px
  @extend .flex-sp-between

.filter-title
  color: #6f6e6e
  font-family: Lato
  font-size: 14px
  font-weight: 700
  line-height: 20px

.filter_var_item
  color: #6f6e6e
  font-family: Lato
  font-size: 14px
  font-weight: 400
  line-height: 26px
  border-right: 1px solid #dad8d8
  padding-right: 8px
  margin-right: 8px

.filter_var_item:last-of-type
  border-right: none
.catalog_range_price
  @extend .flex-sp-between

.catalog-date-pick
  background-color: #f3f3f3
  height: 50px
  margin-bottom: 48px
  display: flex
  align-items: center

.row-catalog-item
  width: 851px
  display: flex
  flex-wrap: wrap

.catalog-date-pick
  background-color: #f3f3f3
  height: 50px
  margin-bottom: 48px
  margin-top: 41px

.row-catalog-item
  width: 851px
  display: flex
  flex-wrap: wrap

.item_block
  display: flex
  flex-direction: column
  width: 261px
  margin-right: 20px
  margin-bottom: 60px
  position: relative

.item_block:hover .item_img
  filter: brightness(50%)

.item_text
  padding-top: 20px
  padding-left: 14px

.row-pagination
  margin-bottom: 110px
  @extend .flex-sp-between

.pagination_item
  width: 261px
  height: 44px
  border-radius: 3px
  border: 1px solid #ebebeb
  background-color: #ffffff
  line-height: 44px
  display: flex
  justify-content: space-around

.pagination_no_active
  color: #c4c4c4

.pagination_active
  color: #ef5b70

.advantage_container
  @extend .flex-center
  height: 341px
  background-color: #222224

.advantage_block
  width: 1140px
  @extend .flex-sp-between

.advantage_item
  width: 309px
  @extend .flex-center
  flex-direction: column
  align-content: center
  align-items: center

.advantage_item h4
  color: #fbfbfb
  font-family: Lato
  font-size: 20px
  font-weight: 700

  letter-spacing: 0.5px

.advantage_item span
  color: #fbfbfb
  font-family: Lato
  font-size: 14px
  font-weight: 300
  line-height: 23.95px
  letter-spacing: 0.35px

.filter-var
  margin-top: 25px

.container_sort_pick
  margin: 10px
  span
    width: 45px
    height: 12px
    color: #6f6e6e
    font-family: Lato
    font-size: 14px
    font-weight: 400

.sort_pick_select, .date_pick_select
  color: #6f6e6e
  font-family: Lato
  font-size: 14px
  font-weight: 400

.container_data_pick
  span
    width: 45px
    height: 12px
    color: #6f6e6e
    font-family: Lato
    font-size: 14px
    font-weight: 400
