@import "var"

.checkout
  display: flex
  justify-content: center

  &__container
    width: $main_width


.check
  display: flex
  flex-direction: row

  &__one
    display: flex
    flex: 2
    flex-direction: column

  &__two
    display: flex
    flex: 2
    flex-direction: column


.check__title
  font-family: Lato
  font-size: 13px
  line-height: 20px

.check__main
  color: $black-text
  font-weight: 600

.check__sub
  color: #b3b2b2
  font-weight: 400
