header
  height: 100px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17)
  border: 1px solid #ececec
  background-color: #ffffff

.container-header
  width: 1140px
  margin: 0 auto
  display: flex
  justify-content: space-between
  align-items: center
  height: 100px

.header_left
  display: flex
  align-items: center


.header-right
  display: flex
  align-items: center

.brand_name
  color: #222222
  font-size: 27px
  font-weight: 400
  line-height: 32px
  text-transform: uppercase
  display: flex
  align-items: center
  letter-spacing: 0.68px
  text-decoration: none


.brand-d
  color: #f16d7f
  font-weight: 600
  letter-spacing: 0.68px

.header_form
  display: flex
  align-items: center
  margin-left: 37px

.btn_browse
  width: 90px
  height: 39px
  display: flex
  justify-content: center
  color: #222222
  line-height: 41px
  border-radius: 3px 0 0 3px
  border: 1px solid #e6e6e6
  background-color: #cdcdcc
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%)
  text-align: center
  position: relative
  left: 1px
  font-family: Lato
  font-size: 14px
  font-weight: 500
  letter-spacing: 0.35px

.caret
  padding-left: 5px


.caret img
  padding-bottom: 1px



.search_input
  width: 320px
  height: 41px
  border: 1px solid #e6e6e6
  background-color: #ffffff
  box-sizing: border-box
  padding: 18px


.search_btn
  width: 36px
  line-height: 39px
  text-align: center
  height: 39px
  border-radius: 0 3px 3px 0
  border: 1px solid #e6e6e6
  background-color: #ffffff
  position: relative
  right: 1px

.card_img
  margin-right: 22px

.btn-pink
  color: #ffffff
  display: flex
  font-size: 15px
  font-weight: 400
  line-height: 32px
  background-color: #f16d7f
  letter-spacing: 0.38px
  padding: 5px 17px
  border-radius: 3px


.nav_back
  height: 51px
  background-color: #ffffff



.menu
  list-style-type: none
  display: flex
  justify-content: center

.menu_list
  padding: 0 20px
  display: block
  color: #222222
  font-size: 14px
  font-weight: 700
  height: 35px
  line-height: 26px
  text-transform: uppercase

.mega_menu_link
  position: relative
  display: block

.mega_menu_container
  position: absolute
  width: 846px
  height: 345px
  border-radius: 5px
  background-color: #ffffff
  border: solid 1px #e8e8e8
  display: none


.mega_menu_link:hover .mega_menu_container
  display: block




.mega_menu_container::before
  content: ""
  width: 12px
  height: 12px
  background: #ffffff
  display: block
  position: absolute
  left: 30px
  top: -7px
  transform: rotate(45deg)
  border-left: 1px solid #e8e8e8
  border-top: 1px solid #e8e8e8


.mega_container_inside
  padding: 25px
  display: flex

.mega_menu_column
  margin-right: 46px


.mega_menu_column:last-of-type
  margin-right: 0

.mega_menu_title
  color: #232323
  font-family: Lato
  font-size: 14px
  font-weight: 700
  line-height: 32px
  text-transform: uppercase
  border-bottom: 1px solid#e8e8e8
  padding-bottom: 5px
  margin-bottom: 5px
  width: 235px
  letter-spacing: 0.35px


.Mega_menu_column_list
  color: #646464
  font-family: Lato
  font-size: 14px
  font-weight: 400
  line-height: 28px
  padding-inline-start: 0
  letter-spacing: 0.35px


.m_menu_column_2
  padding-top: 12px



.mega_menu_video
  padding-top: 22px
