@import "var"

.container_select_product
  display: flex
  align-items: center
  flex-direction: column

.select_product_title
  width: 1137px
  display: flex
  justify-content: space-between
  margin-top: 98px
  border-bottom: 1px solid #eaeaea
  padding-bottom: 20px
  margin-bottom: 22px

  color: #222222
  font-family: Lato
  font-size: 13px
  font-weight: 700
  line-height: 20px
  text-transform: uppercase
  letter-spacing: -0.2px

.product_title_left
  display: flex

.product_list_item_left
  display: flex

.product_list_item_right
  display: flex
  justify-content: space-between
  height: 115px
  line-height: 115px
  width: $description_block_width

.product_price_input
  width: 54px
  height: 30px
  border: 1px solid #eaeaea
  background-color: #ffffff

.product_list_item
  display: flex
  justify-content: space-between
  border-bottom: 1px solid #eaeaea
  margin-bottom: 25px
  padding-bottom: 25px

.product_list
  width: $main_width

.description_block_item
  width: $description_block_width/5

.product_btn_clear
  width: 235px
  height: 50px
  border: 1px solid #eaeaea
  background-color: #ffffff

.container_row_button
  display: flex
  width: $main_width

.product_btn_continue
  width: 225px
  height: 50px
  border: 1px solid #eaeaea
  background-color: #ffffff

.product_title_right
  display: flex
  justify-content: space-between

.product_title_item
  margin-right: 53px

.product_title_item:last-of-type
  margin-right: 0

.product_list_item_description
  display: flex
  flex-direction: column
  justify-content: center

.product_specification
  color: #6f6e6e
  font-size: 13px
  font-weight: 400
  line-height: 20px
  font-family: Lato

.product_name
  color: #222222
  font-family: Lato
  font-size: 13px
  font-weight: 600
  text-transform: uppercase

.specification_concern
  font-family: Lato
  color: #575757
  font-weight: 300

