@import "var"

.container_select_product
  display: flex
  align-items: center
  flex-direction: column

.select_product_title
  width: 1137px
  @extend .flex-sp-between
  margin-top: 98px
  border-bottom: 1px solid #eaeaea
  padding-bottom: 20px
  margin-bottom: 22px

  color: #222222
  font-family: Lato
  font-size: 13px
  font-weight: 700
  line-height: 20px
  text-transform: uppercase
  letter-spacing: -0.2px


.product_title_left
  display: flex

.product_list_item_left
  display: flex

.product_list_item_right
  @extend .flex-sp-between
  height: 115px
  line-height: 115px
  width: $description_block_width
  color: #656565
  font-family: Lato
  font-size: 13px
  font-weight: 600

.product_price_input
  width: 54px
  height: 30px
  border: 1px solid #eaeaea
  box-sizing: border-box
  padding-left: 20px
  background-color: #ffffff

.product_list_item
  @extend .flex-sp-between
  border-bottom: 1px solid #eaeaea
  margin-bottom: 25px
  padding-bottom: 25px

.product_list
  width: $main_width

.description_block_item
  width: $description_block_width/5
  text-align: center
  text-transform: uppercase


.product_btn_clear
  width: 235px
  height: 50px
  display: block
  border: 1px solid #eaeaea
  @extend .line-he
  background-color: #ffffff

.product_btn_continue
  width: 225px
  @extend .line-he
  display: block
  height: 50px
  border: 1px solid #eaeaea
  background-color: #ffffff

.product_btn_continue, .product_btn_clear
  color: #4a4a4a
  font-family: Lato
  font-size: 14px
  font-weight: 800
  text-transform: uppercase

.container_row_button
  @extend .flex-center
  margin-top: 40px
  margin-bottom: 63px

.container_delivery
  @extend .flex-center
  margin-bottom: 80px

.delivery_block
  width: $main_width
  @extend .flex-sp-between

.container_button
  width: $main_width
  @extend .flex-sp-between

.product_title_right
  @extend .flex-sp-between

.product_title_item
  width: 115px
  text-align: center

.product_title_item:last-of-type
  margin-right: 0

.product_list_item_description
  @extend .flex-center
  flex-direction: column

.product_specification
  color: #6f6e6e
  font-size: 13px
  font-weight: 400
  line-height: 20px
  font-family: Lato
  display: flex

.product_name
  color: #222222
  font-family: Lato
  font-size: 13px
  margin-bottom: 38px
  font-weight: 600
  text-transform: uppercase

.specification_concern
  font-family: Lato
  color: #575757
  font-weight: 300

.delivery_title
  color: #222222
  font-family: Lato
  font-size: 16px
  font-weight: 700
  text-transform: uppercase

.total_price
  width: 360px
  height: 214px
  padding: 40px
  box-sizing: border-box
  display: flex
  flex-direction: column
  align-items: flex-end
  background-color: #f5f3f3

.coupon_item
  display: flex
  flex-direction: column
  @extend .delivery_width

.delivery_input
  width: 355px
  height: 45px
  border: 1px solid #eaeaea
  background-color: #ffffff
  margin-bottom: 20px
  padding: 16px
  box-sizing: border-box

.delivery_item
  display: flex
  flex-direction: column
  @extend .delivery_width

.delivery_form
  display: flex
  flex-direction: column

.coupon_btn
  width: 118px
  height: 35px
  border: 1px solid #eaeaea
  background-color: #ffffff
  color: #4a4a4a
  font-family: Lato
  font-size: 11px
  font-weight: 900
  line-height: 35px
  text-align: center
  text-transform: uppercase

.adress_btn
  width: 100px
  height: 35px
  border: 1px solid #eaeaea
  background-color: #ffffff
  color: #4a4a4a
  font-family: Lato
  font-size: 11px
  font-weight: 900
  text-transform: uppercase
  line-height: 35px
  text-align: center


.total_prise_field, .price_field_one
  color: #4a4a4a
  font-family: Lato
  font-size: 11px
  font-weight: 400
  text-transform: uppercase

.grand_separator
  // Style for "Shape 8"
  width: 275px
  border-bottom: 1px solid #e2e2e2
  margin-bottom: 17px

.grand_total_prise_field
  padding-top: 14px
  padding-bottom: 22px

  color: #222222
  font-family: Lato
  font-size: 16px
  font-weight: 700
  text-transform: uppercase
// Text style for "$900"


.price_field_one, .price_field_two
  padding-left: 20px

.price_field_two
  color: #f16d7f

.checkout_btn
  width: 275px
  height: 50px
  background-color: #f16d7f
  color: #ffffff
  font-family: Lato
  font-size: 16px
  font-weight: 700
  text-transform: uppercase
  line-height: 50px
  text-align: center
  transition: 0.5s
  cursor: pointer


.delivery_title
  margin-bottom: 22px


.coupon_second_title
  color: #000000
  font-family: Lato
  font-size: 14px
  font-weight: 300
  margin-bottom: 24px

.product_name_link, .product_name_link:hover
  color: #000000

.fa-times-circle
  color: #000000

.action_button_groupe
  display: flex
  flex-direction: column
  flex-grow: 2
  justify-content: center
  i
    margin-bottom: 7px
    cursor: pointer
