@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i')
@import "header"
@import "catalog"
@import "shoping_cart"
@import "_footer.sass"
@import "single_page"
@import "checkout"
@import "var"

@-webkit-keyframes rotate-scale-up
  0%
    -webkit-transform: scale(1) rotateZ(0)
    transform: scale(1) rotateZ(0)
  50%
    -webkit-transform: scale(2) rotateZ(180deg)
    transform: scale(2) rotateZ(180deg)
  100%
    -webkit-transform: scale(1) rotateZ(360deg)
    transform: scale(1) rotateZ(360deg)

@keyframes rotate-scale-up
  0%
    -webkit-transform: scale(1) rotateZ(0)
    transform: scale(1) rotateZ(0)
  50%
    -webkit-transform: scale(2) rotateZ(180deg)
    transform: scale(2) rotateZ(180deg)
  100%
    -webkit-transform: scale(1) rotateZ(360deg)
    transform: scale(1) rotateZ(360deg)

@-webkit-keyframes scale-up-center
  0%
    -webkit-transform: scale(0.5)
    transform: scale(0.5)
  100%
    -webkit-transform: scale(1)
    transform: scale(1)

@keyframes scale-up-center
  0%
    -webkit-transform: scale(0.5)
    transform: scale(0.5)
  100%
    -webkit-transform: scale(1)
    transform: scale(1)


input, button
  outline: none

ul li
  list-style-type: none

.container-items
  @extend .flex-center

.container-items-title
  text-align: center
  margin-bottom: 63px

.item_span
  padding-bottom: 21px
  color: $main_color
  font-weight: 700
  cursor: default

.block_add
  position: relative
  @extend .flex-center

.block_add_hover_text
  border: solid 1px white
  padding: 11px 15px
  color: white
  display: flex
  cursor: pointer

.add_img
  padding-right: 8px

.add_item
  position: absolute
  display: none
  justify-content: center
  top: 94px
  transition: box-shadow 0.5s

.add_item:hover
  box-shadow: 0 0 16px 2px white

.item_block:last-of-type
  margin-right: 0

.item_block:hover .add_item
  display: block
  z-index: 1


.item_block:hover
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16)


.block_add_hover_a
  display: block
  border: solid 2px white

.container-sale
  @extend .flex-center
  height: 529px
  margin-bottom: 97px

.container_sale_block
  position: relative

.white
  color: white

.sale_block_text
  position: absolute
  top: 146px
  left: 39px
  width: 293px
  height: 32px
  color: #ffffff
  font-family: Lato
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 1.5px

.sale_text_l1
  color: $main_color
  font-size: 50px
  letter-spacing: 0.9px

.sale_text_l2
  font-size: 32px

.sale_block_desc_text
  display: flex
  margin: 48px 20px 48px 43px
  color: white

.sale_block_desc
  background-color: #222224
  width: 373px

body
  font-family: Lato, sans-serif

.sale_desc_title
  color: #fbfbfb
  font-family: Lato
  font-size: 20px
  font-weight: 700
  margin-bottom: 17px
  letter-spacing: 0.5px

.sale_description
  display: flex
  flex-direction: column

.sale_description_img
  margin-right: 30px

.sale_block_desc_text
  color: #fbfbfb
  font-family: Lato
  font-size: 14px
  font-weight: 300
  line-height: 24px

  letter-spacing: 0.35px

.item_title h2
  color: #222222
  font-family: Lato
  font-size: 30px
  font-weight: 700
  line-height: 54px
  margin: 100px 0 0
  letter-spacing: 0.75px

.item_title span

  color: #9f9f9f
  font-family: Lato
  font-size: 14px
  font-weight: 400

  letter-spacing: 0.35px

.logo_img
  margin-right: 10px

.row-item
  width: $main_width
  display: flex
  flex-wrap: wrap

.row-button
  @extend .flex-center
  margin: 79px 113px

a, a:hover, a:visited
  text-decoration: none

.container_category
  @extend .flex-center
  margin-top: 100px

.container-banner
  height: 665px
  background-color: #e8e8e8
  margin-top: 50px
  @extend .flex-center

.banner
  width: $main_width
  @extend .flex-sp-between
  align-items: center

.banner_text

  padding-left: 12px
  line-height: 45px
  border-left: solid $main_color 12px

.banner_text_l1
  color: #222222
  font-size: 60px
  font-weight: 600
  letter-spacing: 1px
  text-transform: uppercase
  font-family: Lato-Black, sans-serif
  margin-bottom: 13px

.banner_text_l2
  font-family: Lato-Black, sans-serif
  font-weight: 600
  font-size: 35px
  letter-spacing: 1.5px
  line-height: 33px

.banner_text_span
  color: $main_color
  font-family: Lato-Black, sans-serif
  font-size: 40px
  letter-spacing: 1.5px

.category_coll
  display: flex
  flex-direction: column

.category_block_acces
  width: 560px
  height: 261px
  display: flex
  background: url('img/acces.jpg') #dadad2 no-repeat right

.block_man_text
  width: 160px
  height: 82px
  background-color: #ffffff
  position: absolute
  color: #222222
  font-size: 18px
  font-weight: 600
  text-transform: uppercase

  letter-spacing: 0.45px

  @extend .flex-center
  flex-direction: column
  margin-top: 26px
  padding-left: 19px

.man_text_span
  color: $main_color
  font-size: 30px
  letter-spacing: 0.75px
  font-weight: 600

.block_woman_text

  color: #222222
  font-size: 18px
  font-weight: 600
  text-transform: uppercase
  position: absolute
  letter-spacing: 0.45px
  width: 153px
  height: 82px
  background-color: #ffffff
  @extend .flex-center
  flex-direction: column
  margin-top: 26px
  padding-left: 19px

.category_block_woman, .category_block_man, .block_kids_text
  position: relative

.category_block_woman, .category_block_man
  margin-bottom: 20px

.woman_text_span
  color: $main_color
  font-size: 30px
  letter-spacing: 0.75px

.block_acces_text
  color: #222222
  font-size: 18px
  font-weight: 600
  text-transform: uppercase
  width: 192px
  height: 65px
  background-color: #ffffff
  letter-spacing: 0.45px
  @extend .flex-center
  flex-direction: column
  padding: 16px 18px
  margin-top: 20px

.acces_text_span
  color: $main_color
  font-size: 30px
  letter-spacing: 0.75px

.block_kids_text
  color: #222222
  font-size: 18px
  font-weight: 600
  text-transform: uppercase
  width: 169px
  height: 82px
  background-color: #ffffff
  letter-spacing: 0.45px
  position: absolute
  @extend .flex-center
  flex-direction: column
  margin-top: 20px
  padding-left: 19px

.kids_text_span
  color: $main_color
  font-size: 30px
  letter-spacing: 0.75px

.first_category_coll
  padding-right: 20px

.container-response
  background: url("img/response.jpg") no-repeat
  background-size: cover
  filter: gray(50%)
  height: 518px
  @extend .flex-center

.response_block
  width: $main_width
  height: 100%
  @extend .flex-sp-between
  align-items: center

.response_block_left
  width: 38%
  display: flex

.response_text
  width: 386px
  height: 68px
  color: #222224
  font-family: Lato
  font-size: 16px
  font-style: italic
  line-height: 26px
  padding-left: 28px
  letter-spacing: 0.4px

.response_text_span
  display: flex
  flex-direction: column
  padding-top: 19px
  color: $main_color
  font-family: Lato
  font-size: 16px
  font-weight: 700
  font-style: normal
  font-family: "Lato - Bold"
  letter-spacing: 0.4px
  line-height: 26px

.response_text_sign
  color: #222224
  font-family: "Lato Light"
  font-size: 12px
  font-weight: 300
  letter-spacing: 0.3px
  line-height: 14px

.response_plate
  width: 38px
  height: 4px
  background-color: #d6d6d6
  margin-right: 13px

.response_control
  display: flex
  margin-top: 41px

.response_plate_active
  background-color: $main_color
  width: 38px
  height: 4px

.response-separator
  width: 1px
  height: 100%
  background-color: #ffffff

.subscrible_title
  color: #222224
  font-family: Lato
  font-size: 24px
  font-weight: 400
  display: flex
  letter-spacing: 0.6px
  line-height: 54px
  flex-direction: column
  text-align: center
  padding-bottom: 35px

.subscrible_title span
  font-size: 14px
  text-transform: uppercase
  letter-spacing: 0.35px
  line-height: 24px

summary::-webkit-details-marker
  display: none

summary::after
  content: '⏷'
  padding-left: 100px
  color: #636363

details[open] > summary::after
  content: '⏶'
  color: #ef5b70

.subscrible_input
  border-radius: 23px 0 0 23px
  background: #e1e1e1
  width: 334px
  height: 42px
  box-sizing: border-box
  padding: 22px 22px 23px
  border: 1px solid #e1e1e1

.subscrible_button
  border-radius: 0 23px 23px 0
  background-color: $main_color
  height: 47px
  width: 104px
  position: relative
  right: 10px
  color: white
  cursor: pointer
  border: 1px solid $main_color
  transition: 1s

.subscrible_button:hover
  background: #fbb6bf
  transition: 1s
  border: 1px solid #fbb6bf


.breadcrumbs
  line-height: 20px
  text-transform: uppercase
  font-size: 14px
  color: #636363
  font-family: Lato
  font-weight: 300

.breadcrumbs a:visited
  color: #636363

.breadcrumbs_active
  color: $main_color
  font-size: 14px
  font-weight: 700
  font-family: Lato

  a, a:hover, a:visited
    color: $main_color


.filter_separator
  border-left: 1px solid #dfdfdf

.white
  color: white

.red
  color: #ff0d0d

.btn_empty
  width: 150px
  height: 44px
  border-radius: 3px
  border: 1px solid #ef5b70
  background-color: #ffffff
  line-height: 44px
  text-align: center
  color: #ef5b70
  font-weight: bold
  font-size: 16px

.scale-up-center:hover
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both

.rotate-scale-up:hover
  -webkit-animation: rotate-scale-up 0.65s linear both
  animation: rotate-scale-up 0.65s linear both
  transition: animation 4s

.block_add_hover_text
  img
    padding-left: 6px

.empty_hover_button:hover
  color: #eaeaea
  border: 1px solid #4a4a4a
  background-color: #4a4a4a

.product_btn_clear, .product_btn_continue, .adress_btn, .coupon_btn, .product_btn_continue, .empty_add_cart
  transition: 0.5s

.pink_button_hover:hover
  color: #ffffff
  background-color: #ef5b70

.browse_drop_menu
  display: none
  position: absolute
  top: 39px
  left: 0
  width: auto
  height: auto
  border-radius: 5px
  background-color: #ffffff
  border: #ececec solid 1px
  z-index: 1
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08)

.menu_content
  text-align: initial
  box-sizing: border-box
  padding: 16px
  &__title
    color: #232323
    margin: 0
    font-family: Lato
    font-size: 14px
    font-weight: 700
    line-height: 32px
    text-transform: uppercase
    letter-spacing: 0.35px
  &__separator
    width: 236px
    height: 1px
    background-color: #e8e8e8

.list_ul
  margin-block-start: 0
  padding-inline-start: 0
  color: #4f4f4f
  font-family: Lato
  font-size: 14px
  font-weight: 600
  line-height: 28px
  letter-spacing: 0.35px
  box-sizing: border-box
  padding-left: 4px
  padding-top: 16px


.before::before
  content: ""
  width: 12px
  height: 12px
  background: #ffffff
  display: block
  position: absolute
  left: 64px
  top: -7px
  transform: rotate(45deg)
  border-left: 1px solid #e8e8e8
  border-top: 1px solid #e8e8e8

.menu_list:hover .mega_menu_container
  display: block
